.mainbox {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 28px;
}

#spacehead {
    width: 80%;
}

header div {
    padding: 10px;
}

button {
    font-family: inherit;
}

.productaddbox {
    padding: 10px;
    border: 1px solid rgb(230, 230, 230);
    width: 50%;
}

label {
    display: inline-block;
    margin-left: 10px;
    width: 40%;
    height: 40px;
}

div>label {
    margin-left: 0px;
    margin-right: 8px;
}

input {
    width: 150px;
}

select {
    width: 159px;
    height: 21px;
}

#book-div,
#DVD-div,
#furniture-div {
    display:none;
}

#product-div>div {
    padding:10px;
    height: 150px;
    background-color: rgb(230, 230, 230);
}

span {
    font-size: 0.8em;
}

footer {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
