.mainbox {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 28px;
}

#spacehead {
    width: 80%;
}

header div {
    padding: 10px;
}

button {
    font-family: inherit;
}

.productbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.productcell {
    position: relative;
    border: 1px solid black;
    width: 19%;
    margin: 1%;
    padding: 20px;
    text-align: center;
}

.delete-checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(1.4);
}

footer {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}
